<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCFJh8qlaPwzqqLrw_848nwixFO2_-lqmU</string>
	<key>GCM_SENDER_ID</key>
	<string>257690234863</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aitrix.sonovision</string>
	<key>PROJECT_ID</key>
	<string>sonovision-2ebb6</string>
	<key>STORAGE_BUCKET</key>
	<string>sonovision-2ebb6.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:257690234863:ios:9c13992fe3c51542fd901a</string>
</dict>
</plist>